<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="Location" value="C:\Bespoke\EDI\OutputFiles\Temp" />
		<!--<add key="Location" value="" />-->
		<!--<add key="Location" value="\\TH-ORBIS01\Orbis\EDI\KTN\Prod\Inbound\PPLCON\Processed" />-->
		<!--<add key="Location" value="C:\Bespoke\EDI\OutputFiles\Files" />-->
	</appSettings>
</configuration>